.returnButton{
  display: block;
  cursor: pointer;
  list-style-type: none;
  width: 80px;
  color: white;
  background-color: #3a77d7;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.returnContent{
  display: block;
  margin: 80px;
  margin-left: 35%;
}

a{
  text-decoration: none;
}