{
  "plugins": [
    "css-modules",
    "prettier",
    "jsx-a11y"
  ],
  "extends": [
    "airbnb",
    "plugin:css-modules/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ]
  }
}
