.container{
  color: #004E63,
}

.title{
  margin: 30px;
  margin-bottom: 50px;
}

.profileImage{
  display: block;
  display: block;
  margin: 70px auto;
}

.text{
  top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  margin-bottom: 50px;
}