.container{
  color: #004E63,
}

.title{
  margin: 30px;
}

.profileImage{
  display: block;
  display: block;
  margin: 70px auto;
}

.text{
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  bottom: unset;
  margin-top: auto;
}