.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.filtersContainer > div {
  display: inline-block;
  min-width: 360px;
}
