.filtersContainer {
  margin-top: 100px;
  text-align: center;
  text-align-last: left;
}

.filtersContainer > div {
  display: inline-block;
  width: 300px;
}

.inputContainer {
  margin: auto 30px;
}

.dropdownContainer{
  margin: auto 30px
}

.sourceFromDateContainer{
  margin: auto 30px;
  margin-left: 135px;
}

.sourceToDateContainer{
  margin: auto 30px
}
