.similarContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  max-height: 1000px;
}

.similarImage{
  position: relative;
  top: auto;
  height: auto;
  max-height: 180px;
  max-width: 300px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.similarTitle{
  max-width: 250px;
  margin-top: 5px;
  margin-bottom: 30px;
  padding: 10px;
  color: #004E63;
  text-overflow: ellipsis;
  white-space: wrap;
}

