.cardsContainer {
  display: flex !important;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cardsContainer a {
  text-decoration: none;
}

.skeleton {
  margin: 20px;
  height: 480px;
  width: 300px;
}